body{
	background: #494A5F;
	color: #D5D6E2;
	font-weight: 500;
	font-family: "Microsoft YaHei","ו","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}

.range-picker-wrapper {
    position: relative;
    padding-top: 0!important;
}

.range-picker {
    position: relative;
}

.range-picker .not-select-process {
    display: block;
    height: 10px;
    background-color: #d1d6d0;
    border-top: 1px solid #afb3bb;
    border-radius: 3px;
}

.range-picker .process {
    position: absolute;
    height: 10px;
    top: 0;
    left: 0;
        background-color: #0a89f6;
    border-radius: 3px;
}

.range-picker .label {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
}

.range-picker .range-label {
    margin-top: 4px;
    float:left;
    background-color: #fff!important; color: #000;
}

.range-picker .end-label {
    float: right;
}

.range-picker .select-label {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 100%;
    font-family: monospace;
    margin-bottom: 4px;
    white-space: nowrap;
        background-color: #0a89f6!important;
    color: #fff;
}

.range-picker .select-label:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -4px;
    border: 4px solid transparent;
    border-top-color: #0a89f6;
}
